*{
	margin:0;
	padding:0;
  box-sizing: border-box;

}

body{
	margin-left:2vw;
  font-family: 'Roboto', sans-serif;

}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: underline;
	text-decoration-color: #F5522F;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 96%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;

}

#font-bar{
  font-size:30px;
}

.size{
	font-size:25px;
  padding-left:3vw;
}

.size-bar{
  padding-left:7vw;
  padding-top:13px;
}

#size-id  {
  padding-left:17vw;
}

#heading{
	font-size:100px;
	text-align: center;
	margin-top:20vh;
}

.product-men{
  width:97%;
}

.product{
  float: left;
  width:23%;
  margin-top:15vh;
  margin-left:24px;
  background-color:#B2DCDE;
}

.image-size{
  width:100%;
}
