*{
	margin:0;
	padding:0;
  box-sizing: border-box;
}

body{
	margin-left:2vw;
  font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'Roboto Condensed', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 96%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;

}

.active{;
	color:#E8DA04;
	padding-left:3vw;
}

.active:hover{
	color:#C0B400;
	transition: 0.4s;
}

#font-bar{
  font-size:30px;
}

.size{
	font-size:20px;
  padding-left:3vw;
}

.size:hover{
	color:#E8DA04;
	transition:0.4s;
}

.size-bar{
  padding-left:8vw;
  padding-top:16px;
}

#size-id  {
  padding-left:22vw;
}

#heading{
	font-size:100px;
	text-align:center;
	margin-top: 18vh;
	text-decoration: underline;
	text-decoration-color: #F5522F;
}

#product-men{
  width:97%;
}

.product{
  float: left;
  width:23%;
  margin-top:13vh;
  margin-left:24px;
  background-color:#B2DCDE;
}

.product-text{
	background-color:white;
	font-family: 'PT Sans', sans-serif;
	font-size:20px;
	padding-top:15px;
}


.product-money{
	background-color:white;
	font-family: 'PT Sans', sans-serif;
	font-size:19px;
	padding-top:3px;
	color:#839310;
	text-decoration:none;
}

.a-text{
	text-decoration: none;
	color:black;
}

.image-size{
  width:100%;
}

#heading-1{
	font-size:100px;
	text-align:center;
	margin-top:79vh;
	margin-bottom:3vh;
	text-decoration: underline;
	text-decoration-color: #F5522F;
}

#product-women{
	width:97%
}

.product-w{
	float: left;
	width:23%;
	margin-top:12vh;
	margin-left:24px;
	background-color:#B2DCDE;
}

.image-size-women{
	width:100%;
}

.product-text-women{
	background-color:white;
	font-family: 'PT Sans', sans-serif;
	font-size:20px;
	padding-top:15px;
}

.product-money-women{
background-color:white;
color:#839310;
font-family: 'PT Sans', sans-serif;
font-size:19px;
padding-top:3px;
}

#product-children{
	width:97%;
	background-color:black;
}

#heading-2{
	font-size:100px;
	text-align:center;
	margin-bottom:3vh;
	margin-top:82vh;
	text-decoration: underline;
	text-decoration-color: #F5522F;
}

.product-c{
	float: left;
	width:23%;
	margin-top:12vh;
	margin-left:24px;
	background-color:#B2DCDE;
}

.image-size-children{
	width:100%;
}

.product-text-children{
	background-color:white;
	font-family: 'PT Sans', sans-serif;
	font-size:20px;
	padding-top:15px;
}

.product-money-children{
	background-color:white;
	color:#839310;
	font-family: 'PT Sans', sans-serif;
	font-size:19px;
	padding-top:3px;
}

#website-footer{
	background-color: black;
	overflow: auto;
	height:35vh;
	margin-left:5vw;
	margin-right:7vw;
}

.footer-navbar{
	float:left;
	color:white;
}

.a-footer{
	text-decoration: none;
	color:#E6B0AA;
}

.a-footer:hover{
	color:white;
}

#footer-navbar-1{
	font-size:25px;
	padding-left:18vw;
	/* margin-top:2vh; */
	padding-top:5vh;
}

#footer-navbar-2{
	font-size:30px;
	padding-left:21vw;
	padding-top:3vh;
}

#a-footer-1{
	padding-bottom: 3vh;
}

#a-footer-2{
	padding-bottom: 3vh;
	padding-top: 3vh;

}

.footer-navbar-11{
	font-size:25px;
	color:#E6B0AA;
}

.footer-navbar-11:hover{
	color:white;
}

.footer-a{
	text-decoration: none;
}

#footer-navbar-a{
	padding-top:1vh;
	padding-left:2vw;
}

#footer-navbar-b{
	padding-top:3vh;
	padding-left:2vw;

}

#footer-navbar-c{
	padding-top:3vh;
	padding-left:2vw;

}
