*{
	margin:0;
	padding:0;
  box-sizing: border-box;

}

body{
	margin-left:2vw;
  font-family: 'Roboto', sans-serif;

}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: underline;
	text-decoration-color: #F5522F;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 96%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;

}

.active{;
	color:#E8DA04;
	padding-left:3vw;
}

.active:hover{
	color:#C0B400;
	transition: 0.4s;
}

#font-bar{
  font-size:30px;
}

.size{
	font-size:20px;
  padding-left:3vw;
}

.size:hover{
	color:#E8DA04;
	transition:0.4s;
}

.size-bar{
  padding-left:8vw;
  padding-top:16px;
}

#size-id  {
  padding-left:22vw;
}

#heading{
	font-size:100px;
	text-align: center;
	margin-top:18vh;
}

#product-men{
  width:97%;
}

.product{
  float: left;
  width:23%;
  margin-top:13vh;
  margin-left:24px;
  background-color:#B2DCDE;
}

.product-text{
	background-color:white;
	font-family: 'PT Sans', sans-serif;
	font-size:20px;
	padding-top:15px;
}

.product-money{
	background-color:white;
	font-family: 'PT Sans', sans-serif;
	font-size:19px;
	padding-top:3px;
	color:#839310;
}

.image-size{
  width:100%;
}
