*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

#main-content{
  text-align: center;
  margin-top:40vh;
}

#main-1{
  font-size:2vw  ;
}

#main-2{
  margin-top:4vh;
}

button{
  font-family: 'Roboto Condensed', sans-serif;
  padding:2vh 5vw;
  cursor:pointer;
  font-size:1.6vw;
  border-radius: 25px;
  border:none;
  background-color:skyblue;
  transition:0.2s;
}

button:hover{
  background-color:#2198A4;
  border:2px solid black;
  color:white;
}
